body{
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans Narrow", sans-serif;
}

h1{
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
}

h3{
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
}

.clearfix::after{
  content: " ";
  display: table;
  clear: both;
}

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-nav{
  width: 640px;
  float: left;
  margin-top: 25px;
  margin-left: -60px;
}

.user-block{
  width: 50px;
  float: right;
  line-height: 70px;
  margin-right: 0px;
  padding-left: 30px;
  background: url(../img/.icon-login.png) no-repeat center left;
}

.user-block a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.main-page{
  width: 150px;
  float: left;
  line-height: 70px;
  margin-left: 20px;
}

.main-header{
  background-color: black;
  min-height: 70px;
}

.main-page img{
  vertical-align: middle;
}

ul.main-nav li{
  display: inline-block;
  margin-right: 5px;
}

ul.main-nav li a{
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

ul.main-nav li a:hover{
  box-shadow: 0 33px 0px -18px white;
}
main h1{
  margin-bottom: 30px;
}

main{
  background-color: #f8f5f2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-box{
  margin-top: -25px;
}

.content-box h1{
  text-transform: uppercase;
}

.breadcrumbs{
  margin-left: -40px;
  margin-top: -20px;
}

.breadcrumbs li{
  display: inline;
  padding-right: 0;
  margin-right: 35px;
}

.breadcrumbs li a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.photo{
  width: 460px;
  padding: 0 0px;
  float: left;
  margin-top: 30px;
}

.item-details{
  width: 390px;
  padding: 0 10px;
  float: right;
  margin-top: 30px;
  text-transform: uppercase;
}

.photo img{
  float: left;
  margin: 0;
  width: 100%
  height: 100%;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.2);
}

.photo img:nth-child(1){
  margin-bottom: 20px
}

.photo img:nth-child(2){
  margin-right: 20px;
}

.photo img:nth-child(3){
  margin-right: 20px;
}

.presence{
  width: 115px;
  float: left;
}

.item-description{
  margin-top: -20px;
  margin-bottom: 40px;
}

.vendor-code{
  width: 150px;
  float: right;
  text-align: right;
  padding-right: 10px;
  color: #cdcbca;
}

.composition{
  margin-top: 38px;
}

.composition li{
  list-style-type: none;
  position: relative;
  margin-left: -25px;
}

.composition li::before{
  content: "";
  position: absolute;
  background-color: black;
  width: 5px;
  height: 5px;
  outline: 1px solid black;
  transform: rotate(45deg); 
  left: -15px;
  top: 8px;
}
.item-details .price{
  margin-left: -15px;
}

.price + h3{
  margin-top: 65px;
}

.box-info{
  margin-bottom: 35px;
}

.main-footer{
  margin-top: 0px;
  min-height: 190px;
  background-image: url("../img/Footer_background.jpg")
}

.footer-contact{
  width: 350px;
  float: left;
  margin-right: 30px
}

.footer-social{
  width: 230px;
  float: left;
  
}

.footer-copyright{
  width: 150px;
  float: right;
}

.tagline{
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  line-height: 42px;
  width: 700px;
}

.left-column{
  width: 380px;
  float: left;
}

.right-column{
  width: 460px;
  float: right;
}

table{
  border: 1px solid black;
}

table td{
  border: 1px solid black;
}

.filters{
  width: 220px;
  float: left;
  margin-top: 15px;
}

.filters h2{
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.manufacturer-filters{
  margin-top: 28px;
  margin-bottom: 50px;
}

.product-group{
  margin-bottom: 20px;
}

.manufacturer-filters input[type="checkbox"] {
    display:none;
}

.manufacturer-filters input[type="checkbox"] + label{
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.manufacturer-filters input[type="checkbox"] + label::before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  border: 2px solid #000000;
  top: 0;
  left: 0;
  background-color: #f9f6f3;
}

.manufacturer-filters input[type="checkbox"]:checked + label::after{
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: url(../img/cross_checkbox.png) no-repeat; 
}

.manufacturer-filters .label{
  margin-left: 40px;
}
.manufacturer-filters label{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.product-group{
  margin-top: 30px
}

.product-group input[type="checkbox"] {
    display:none;
}

.product-group input[type="checkbox"] + label{
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.product-group input[type="checkbox"] + label::before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  border: 2px solid #000000;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #f9f6f3;
}

.product-group  input[type="checkbox"]:checked + label::after{
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 6px;
  left: 6px;
}

.manufacturer-filters{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.product-group{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.product-group label{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.btn{
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: "PT Sans Narrow", sans-serif;
}

.gallery-products{
  width: 700px;
  float: right;
  margin-top: 40px;
  margin-bottom: 35px;
}

.products-card{
  width: 220px;
  float: left;
  min-height: 290px;
  background-color: white;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.2);
}

.product{
  padding-bottom: 10px;
}

.products-card h3{
  margin-top: 5px;
  margin-left: 15px;
}

.price span{
  margin-left: 15px;
  background-color: #e5e5e5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: -3px;
}

.price a{
  text-decoration: none;
  padding: 15px;
  padding-left: 20px;
}

.products-card h3 a{
  color: black;
}

.products-card:not(:nth-child(3)):not(:nth-child(6)) {
  margin-right: 20px;
}

.products-card:nth-child(n-3){
  margin-bottom: 20px;
}

.btn-page a{
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
  padding-right: 17px;
  border: 1px solid black;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-right: 5px;
}

.btn-page{
  margin-top: 80px;
  margin-left: 240px;
  clear: both;

}


.price .btn{
  padding-left: 18px;
  padding-right: 18px; 
}

.footer-contact{
  margin-top: 60px;
  color: white;
  text-transform: uppercase;
}

.footer-contact a{
  color: white;
  text-transform: uppercase;
}

.footer-social{
  margin-top: 45px;
}

.footer-social h3{
  color: white;
  margin-bottom: 25px;
  margin-left: 20px;
  text-transform: uppercase;
}

.social-btn-vk{
  background: url(../img/vk.png) 50% 50% no-repeat;
}

.social-btn-fb{
  background: url(../img/fb.png) 50% 50% no-repeat;
}

.social-btn-inst{
  background: url(../img/inst.png) 50% 50% no-repeat;
}

.social-btn{
  padding: 12px 22px;
  background-color: black;
  margin-right: 5px;
}

.footer-copyright{
  margin-top: 60px;
}

.footer-copyright h3{
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 35px;
}

.footer-copyright a{
  color: white;
  text-decoration: none;
  padding: 13px 25px;
  background-color: black;
  text-transform: uppercase;
}

.footer-social .social-btn span{
  display: none;
}

.breadcrumbs li a::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  top: 180px;
  margin-left: 12px;
  transform: rotate(45deg) scale(0.5);
}

.breadcrumbs li:last-child a::after{
  display: none;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url(../fonts/PT_Sans_Narrow.ttf); /* Путь к файлу со шрифтом */
  font-weight: normal; /* "вес шрифта", который соответствует начертанию */
  font-style: normal;


